%table#project-table.table.table-sm.table-hover.table-bordered
  %thead.thead-light
    %tr
      %th.text-center{scope: "col"} プロジェクト名
      %th.text-center{scope: "col"} 状態
      %th.text-center{scope: "col"} 作成日
      %th.text-center{scope: "col"} 詳細
      %th.text-center{scope: "col"} 編集
  %tbody#member-list-area
    - projects.each do |project|
      %tr
        %td.text-center
          = "#{project.name}"
        %td.text-center
          - if project.deleted_at.nil?
            .text-success.btn
              = "進行中"
          - else
            .text-danger.btn
              = "完了済み"
        %td.text-center
          = project.created_at
        %td.text-center
          = link_to fa_icon('users'), project_path(project),
                    class: 'btn btn-outline-info'
        %td.text-center
          = link_to fa_icon('edit'), edit_project_path(project),
                    class: 'btn btn-outline-success'
