.card.sub-card
  .card-header.card-toggle-btn
    = fa_icon('toggle-on')
    = "参加者"
  .card-body
    .row
      .col-12.col-sm-8.col-md-6.col-lg-4
        .attendee-add-form.input-group
          %select#attendee-selector.select2-w80p
            - users.each do |user|
              %option{value: "#{user.id}"}
                = "#{user.full_name}"
          .input-group-append
            #attendee-add-btn.btn.btn-info
              = fa_icon('plus')
    %hr
    #attendees-view-area
      #attendee-empty-msg.d-none= "参加者無し"
      = f.fields_for :attendees do |attendee|
        =render partial: "meetings/attendee_card", locals:{f: attendee, users: users}

  .card-footer
