= f.hidden_field :_destroy, class: 'cmt-destroy-flag'
%ul.cmt-block
  = f.hidden_field :sort_num, class: "cmt-form-sort-num"
  = f.hidden_field :indent, class: "cmt-form-indent"

  %li.indent-area{class: "#{add_indent_css f.object.indent}"}
  %li.cmt-body.bg-light.rounded.border
    .btn-toolbar.rounded-0{role: "toolbar", "aria-label": ""}
      .btn-group.mr-4{role: "group"}
        -# 左移動ボタン
        %button.cmt-indent-left-btn.btn.btn-secondary.btn-sm{"aria-disabled" => "true",
                                                          type: "button", tabindex: "-1"}
          = fa_icon('arrow-left')
        -# 右移動ボタン
        %button.cmt-indent-right-btn.btn.btn-secondary.btn-sm{"aria-disabled" => "true",
                                                          type: "button", tabindex: "-1"}
          = fa_icon('arrow-right')

      .btn-group{role: "group"}
        -# 直下コメント追加ボタン
        %button.next-cmt-add-btn.btn.btn-outline-dark.btn-sm{tabindex: "-1"}
          = fa_icon('plus', text: "")

        -# 子コメント追加ボタン
        %button.child-cmt-add-btn.btn.btn-outline-dark.btn-sm{tabindex: "-1"}
          = fa_icon('plus-square', text: "")
          = " & "
          = fa_icon('arrow-circle-right')


    .input-group
      .input-group-prepend
        = f.collection_select :status_id, @comment_statuses, :id, :name,
                              {prompt: "---"},
                              html_options = { tabindex: "-1",
                              class: "form-control"}

      = f.text_field :name, class: 'cmt-form-name form-control',
                      placeholder: "コメントを入力して下さい"

      .input-group-append
        = f.collection_select :user_id, @users, :id, :last_name,
                              {prompt: "(担当者)"},
                              html_options = { tabindex: "-1",
                              class: "form-control"}
        -# コメント削除ボタン
        %button.cmt-del-btn.btn.btn-danger{tabindex: "-1"}
          = fa_icon('times')

