= f.hidden_field :_destroy, class: 'cmt-destroy-flag'
%ul.cmt-block
  = f.hidden_field :sort_num, class: "cmt-form-sort-num"
  = f.hidden_field :indent, class: "cmt-form-indent"

  %li.indent-area{class: "#{add_indent_css f.object.indent}"}
  %li.cmt-body
    %a.cmt-indent-left-btn.btn.btn-info.btn-sm{"aria-disabled" => "true"}
      = icon('fas' ,'arrow-left')
    %a.cmt-indent-right-btn.btn.btn-info.btn-sm{"aria-disabled" => "true"}
      = icon('fas' ,'arrow-right')

    -# 子コメント追加ボタン
    %a.child-cmt-add-btn.btn.btn-outline-primary.btn-sm
      = icon('fas' ,'plus')

    -# コメント削除ボタン
    %a.cmt-del-btn.btn.btn-outline-danger.btn-sm
      = icon('fas' ,'times')

    %br
    = f.text_field :name, class: 'cmt-form-name form-control'
