= f.label '開催日', class: 'col-form-label'
.event-date.form-group.row
  .col-12.col-md-auto
    #date-picker.input-group.date{"data-target-input": "nearest"}
      = f.date_field :date, class: 'datetimepicker-input form-control',
                          "data-target": "#date-picker", "data-type": "date"
      .input-group-append{"data-target": "#date-picker", "data-toggle": "datetimepicker"}
        .input-group-text
          = fa_icon("calendar")

  .col-auto
    #start-time-picker.input-group.date{"data-target-input": "nearest"}
      = f.time_field :start_time, class: "datetimepicker-input form-control",
                          "data-target": "#start-time-picker", "data-type": "text",
                          step: 300
      .input-group-append{"data-target": "#start-time-picker", "data-toggle": "datetimepicker"}
        .input-group-text
          = fa_icon("clock-o")

  = f.label '〜', class: 'col-form-label'
  .col-auto
    #finish-time-picker.input-group.date{"data-target-input": "nearest"}
      = f.time_field :finish_time, class: "datetimepicker-input form-control",
                          "data-target": "#finish-time-picker", "data-type": "text",
                          step: 300
      .input-group-append{"data-target": "#finish-time-picker", "data-toggle": "datetimepicker"}
        .input-group-text.bg-secondary.text-light
          = fa_icon("clock-o")
