#meeting-page.card
  .card-header
    %h4 新規会議作成
  .card-body
    = form_for meeting, remote: true, html: {"data-persist" => "garlic", class: "garlic-auto-save"} do |f|
      = f.label '会議名'
      = f.text_field :title, class: 'form-control'

      #date-area
        %br
        = f.label '開催日'
        = f.date_select :date, class: 'form-control'
        ___時間
        = f.time_select :start_time, class: 'form-control'
        = f.label '〜'
        = f.time_select :finish_time, class: 'form-control'

      #general-area
        %ul
          %li
            = f.label '場所'
            = f.text_field :place, class: 'form-control'
          %li
            = f.label 'プロジェクト'
            = f.collection_select :project_id, projects, :id, :name, {prompt: ""},
              {class: 'custom-select'}

      #users-area
        = render partial: 'meetings/users_form', locals: {f: f, users: users}

      %br
      #topic-area
        = f.fields_for :topics do |topic|
          = render partial: 'meetings/topic_card', locals: {f: topic}

        = link_to_add_fields "Topic追加", f, :topics, "topic-add-btn btn btn-outline-secondary"

      %br
      #other-area
        .card
          .card-header
            = f.label '備考'
            %a.card-toggle-btn.btn.float-right
              = icon('fas', 'toggle-on')
          .card-body
            = f.text_area :note, class: 'form-control'

      %br
      = f.submit class: 'btn btn-primary', id: 'meeting-submit-btn'

:javascript
  changeStateAllCommentMoveBtn();