.card
  .card-header
    新規会議作成
  .card-body
    = form_for meeting, remote: true do |f|
      = f.label 'タイトル'
      = f.text_field :title, class: 'form-control'
      %br
      = f.label '開催日'
      = f.date_select :date, class: 'form-control'
      %br
      = f.label '時間'
      = f.time_select :start_time, class: 'form-control'
      = f.label '〜'
      = f.time_select :finish_time, class: 'form-control'
      %br
      = f.label '場所'
      = f.text_field :place, class: 'form-control'
      = f.label 'プロジェクト'
      = f.collection_select :project_id, projects, :id, :name, {prompt: ""}, {class: 'custom-select'}
      %br
      = f.label '担当者'
      = f.collection_select :user_id, users, :id, :name, {prompt: ""}, {class: 'custom-select', selected: current_user.id}
      = f.label '審査者'
      = f.collection_select :inspector_id, users, :id, :name, {prompt: ""}, {class: 'custom-select'}
      = f.label '承認者'
      = f.collection_select :approver_id, users, :id, :name, {prompt: ""}, {class: 'custom-select'}
      %br
      = f.label '備考'
      = f.text_field :note, class: 'form-control'
      %br
      = f.label 'Topic'

      -# 書き直す部分
      #topic-area
        = f.fields_for :topics do |topic|
          = render partial: 'meetings/topic_card', locals: {f: topic}

        = link_to_add_fields "+", f, :topics
        -#%a.btn.btn-primary#topic-add-btn  ＋

        -#以下はパーシャルに置き直す予定
        -#.card.topic-card
          .card-header
            = topic.label 'title'
            = topic.text_field :name, class: 'form-control'
            = topic.hidden_field :sort_num, value: 1, class: 'form-control'


      -#Gem (nested_fields_for)を使ったときの記述
      -##topic-area
        = f.nested_fields_for :topics, wrapper_tag: :div do |t|
          = render partial: 'meetings/topic_card', locals: {t: t}

        = f.add_nested_fields_link :topics, '+', class: 'btn btn-outline-primary topic-add-btn', role: 'button'

      -###### 自動生成させる予定のモデル
      -# #topic-area
        .card.topic-card
          .card-header
            = "topic#1"
            %input#meeting_topics_attributes_0_name.form-control{:name => "meeting[topics_attributes][0][name]", :type => "text"}
        .card.topic-card
          .card-header
            = "topic#2"
            %input#meeting_topics_attributes_1_name.form-control{:name => "meeting[topics_attributes][1][name]", :type => "text"}

      %br
      %br
      = f.submit '作成', class: 'btn btn-primary', id: 'meeting-submit-btn'
      -# %a.btn.btn-primary#meeting-submit-btn=  '作成'
