.card
  .card-header
    新規会議作成
  .card-body
    = form_for meeting do |f|
      = f.label 'タイトル'
      = f.text_field :title, class: 'form-control'
      %br
      = f.label '開催日'
      = f.date_select :date, class: 'form-control'
      %br
      = f.label '時間'
      = f.time_select :start_time, class: 'form-control'
      = f.label '〜'
      = f.time_select :finish_time, class: 'form-control'
      %br
      = f.label '場所'
      = f.text_field :place, class: 'form-control'
      = f.label 'プロジェクト'
      = f.collection_select :project_id, projects, :id, :name, {prompt: ""}, {class: 'custom-select'}
      %br
      = f.label '担当者'
      = f.collection_select :user_id, users, :id, :name, {prompt: ""}, {class: 'custom-select', selected: current_user.id}
      = f.label '審査者'
      = f.collection_select :inspector_id, users, :id, :name, {prompt: ""}, {class: 'custom-select'}
      = f.label '承認者'
      = f.collection_select :approver_id, users, :id, :name, {prompt: ""}, {class: 'custom-select'}
      %br
      = f.label '備考'
      = f.text_field :note, class: 'form-control'

      = f.label 'Topic'
      = render 'meetings/topic_card', f: f, sort_num: 1
      = render 'meetings/topic_card', f: f, sort_num: 2

      %br
      = f.submit class: 'btn btn-outline-primary'
