#meeting-page.card
  = form_for meeting, remote: true, html: {"data-persist" => "garlic", class: "garlic-auto-save"} do |f|
    .card-header
      .form-group
        %h5= f.label '会議名', class: 'col-form-label'
        = f.text_field :title, class: 'form-control'
    .card-body
      #date-time-area
        = render partial: 'meetings/date_form', locals: {f: f}

      #general-area
        .form-group
          = f.label '場所'
          = f.text_field :place, class: 'form-control'
        .form-group
          = f.label 'プロジェクト'
          = f.collection_select :project_id, projects, :id, :name, {prompt: ""},
            {class: 'custom-select'}

      #users-area
        = render partial: 'meetings/users_form', locals: {f: f, users: users}

      #attendees-area.card
        = render partial: 'meetings/attendees_form', locals: {f: f, users: users}

      %br
      #main-area.card
        .card-header
          本文 (Topics)
          %a.card-toggle-btn.btn.float-right
            = icon('fas', 'toggle-on')
        #topic-area.card-body
          = f.fields_for :topics do |topic|
            = render partial: 'meetings/topic_card', locals: {f: topic}
          = link_to_add_fields "Topic追加", f, :topics, "topic-add-btn btn btn-outline-secondary"

      %br
      #other-area
        .card
          .card-header
            = f.label '備考'
            %a.card-toggle-btn.btn.float-right
              = icon('fas', 'toggle-on')
          .card-body
            = f.text_area :note, class: 'form-control'

      %br
      = f.submit class: 'btn btn-primary', id: 'meeting-submit-btn'

  #user-block-template.user-block
    %input{type: "hidden", id: "meeting_item_name_number__destroy", value: "false", name: "meeting[item_name][number][_destroy]", class: "user-block-_destroy"}
    %input{type: "hidden", id: "meeting_item_name_number_user_id", value: "", name: "meeting[item_name][number][user_id]", class: "user-block-user_id"}
    .card.user-card.float-left
      .card-body
        = render partial: 'meetings/user_card', locals: {user_name: "template_name"}

:javascript
  changeStateAllCommentMoveBtn();
  initializationAttendeeSelector();
  $(function () {
    $('#date-picker').datetimepicker({
      format: 'YYYY-MM-DD',
    });

    $('#start-time-picker').datetimepicker({
      format: 'HH:mm',
      stepping: 5,
      defaultDate: moment('10:00', 'HH:mm'),
    });
    $('#finish-time-picker').datetimepicker({
      format: 'HH:mm',
      stepping: 5,
      defaultDate: moment('11:00', 'HH:mm'),
    });
  });
