= f.hidden_field :_destroy, class: 'topic-destroy-flag'
.card.topic-card
  = f.hidden_field :sort_num, class: 'topic-sort-num'
  .card-header
    -#= f.label 'Topic'
    %a.card-toggle-btn.btn.float-right
      = icon('fas', 'toggle-on')
    %ul.topic-form
      %li.topic-form-name-area
        = f.text_field :name, class: 'form-control'
      %li
        %a.topic-del-btn.btn.btn-outline-danger
          = icon('fas' ,'times')

  .card-body.comment-area
    = f.fields_for :comments do |comment|
      = render partial: 'meetings/comment_card', locals: {f: comment}

    = link_to_add_fields icon('fas' ,'plus'), f, :comments, "cmt-add-btn btn btn-primary"
