.card.topic-card
  = f.hidden_field :sort_num, class: 'topic-sort-num'
  .card-header
    = f.label 'title'
    = f.text_field :name, class: 'form-control'
  .card-body.comment-area
    = f.fields_for :comments do |comment|
      = render partial: 'meetings/comment_card', locals: {f: comment}

    = link_to_add_fields "+", f, :comments, "cmt-add-btn btn btn-primary"
