= f.hidden_field :_destroy, class: 'topic-destroy-flag'
.card.topic-card
  = f.hidden_field :sort_num, class: 'topic-sort-num'
  .card-header
    .input-group
      = f.text_field :name, class: 'form-control topic-title',
                      placeholder: "Please input topic title..."
      .input-group-append
        = f.collection_select :status_id, @topic_statuses, :id, :name,
                              {include_blank: true},
                              html_options = { tabindex: "-1",
                              "date-placeholder": "Status",
                              class: "form-control"}
        %a.topic-del-btn.btn.btn-danger{tabindex: "-1"}
          = fa_icon('times')
        %a.card-toggle-btn.btn
          = fa_icon('toggle-on')

  .card-body.comment-area
    = f.fields_for :comments do |comment|
      = render partial: 'meetings/comment_card', locals: {f: comment}

    = link_to_add_fields fa_icon('plus'), f, :comments, "cmt-add-btn btn btn-primary"
