.card.border-dark.mt-3
  .card-header.bg-dark.text-white
    %h4= "#{@meeting.title}"
  .card-body
    %ul.list-group.list-group-flush
      %li.list-group-item
        %a= "開催日：#{@meeting.date} | #{@meeting.start_time.to_s(:time)} 〜 #{@meeting.finish_time.to_s(:time)} |"
      %li.list-group-item
        %a= "場所：#{@meeting.place}"
      - if @meeting.project.present?
        %li.list-group-item
          = "プロジェクト：#{@meeting.project.name}"
      - if @meeting.group.present?
        %li.list-group-item
          = "グループ：#{@meeting.group.name}"
      %li.list-group-item
        %a= "担当者：#{@meeting.user.full_name}"
      - if @meeting.inspector.present?
        %li.list-group-item
          %a= "審査者：#{@meeting.inspector.full_name}"
      - if @meeting.approver.present?
        %li.list-group-item
          %a= "承認者：#{@meeting.approver.full_name}"
      %li.list-group-item
        %a= "発行日：#{@meeting.publish_date}"

      = render 'show_topic', topics: @topics, founder_comments: @founder_comments
      %li.list-group-item
        .card
          .card-header
            備考
          .card-body
            = @meeting.note
  .card-footer.bg-dark.text-white

