- meetings.each do |meeting|
  %tr
    -# 会議録タイトル
    %td.align-middle
      = meeting.title
    -# 種別
    %td.align-middle.text-left
      - if meeting.type_id == Settings.meeting.type.project
        = "プロジェクト会議：" + meeting.project.name
      - elsif meeting.type_id == Settings.meeting.type.group
        = "グループ会議：" + meeting.group.name
      - else
        = "フリー会議"

    -# 担当者
    %td.align-middle.text-center
      = users.find(meeting.user_id).full_name
    -# 会議実施日
    %td.align-middle.text-center
      = meeting.date
    -# 参照ボタン
    %td.align-middle.text-center
      = link_to fa_icon("file-text"), meeting_path(meeting), class: 'btn btn-outline-info'
