%table#user-table.table.table-sm.table-hover.table-bordered
  %thead.thead-light
    %tr
      %th.text-center{scope: "col"} ユーザーID
      %th.text-center{scope: "col"} メールアドレス
      %th.text-center{scope: "col"} 姓
      %th.text-center{scope: "col"} 名
      %th.text-center{scope: "col"} 作成日
      %th.text-center{scope: "col"} 編集

  %tbody#user-list-area
    - users.each do |user|
      %tr
        %td.text-center.align-middle
          = "#{user.name}"
        %td.text-center.align-middle
          = "#{user.email}"
        %td.text-center.align-middle
          = "#{user.last_name}"
        %td.text-center.align-middle
          = "#{user.first_name}"
        %td.text-center.align-middle
          = "#{user.created_at}"
        %td.text-center.align-middle
          = link_to fa_icon('edit'), edit_user_path(user.id), class: 'btn btn-outline-success'
