#group-page.card
  = form_for group, html: {"dataa-persist" => "garlic"} do |f|
    .card-header
      .form-group
        = f.label 'グループ名'
        = f.text_field :name, class: 'form-control'
    .card-body
      -#所属メンバー表示部
      .form-group
        = f.label '所属メンバー'
        %table#member-table.table.table-sm.table-hover.table-bordered
          %thead.thead-light
            %tr
              %th.text-center{scope: "col"} 名前
              %th.text-center{scope: "col"} メールアドレス
              %th.text-center{scope: "col"} 権限
              %th.text-center{scope: "col"} グループ管理者
              - if mode == "edit" || mode == "new"
                %th.text-center{scope: "col"} 編集
                %th.text-center{scope: "col"} 削除
          %tbody#member-list-area
            = f.fields_for :group_members do |member|
              = render partial: "groups/member_view", locals: {f: member, mode: mode}

        #member-params-area
          - if mode == "edit" || mode == "new"
            = f.fields_for :group_members do |member|
              = render partial: "groups/member_params", locals: {f: member}


      -# 表示のみの場合は以下不要
      - if mode == "edit" || mode == "new"
        %button.btn.btn-info{data: {target: "#member-add-modal", toggle: "modal"}, type: "button"}
          = icon('fas' ,'user-plus')
          = "メンバーを追加する"

        #modals
          = render partial: "groups/member_add_modal", locals: {users: users, authorities: authorities}
          = render partial: "groups/member_edit_modal", locals: {users: users, authorities: authorities}
          = render partial: "groups/member_delete_modal"

        #member-block-template
          = render partial: 'groups/member_template'

        %br
        = f.submit class: 'btn btn-primary', id: 'meeting-submit-btn'

        :javascript
          initializationMemberSelector();

= link_to '戻る', my_page_path, class: "btn btn-secondary"

