%tr.member-row
  %td.user-name.text-center
    = "#{f.object.user.last_name} #{f.object.user.first_name}"
  %td.user-email.text-center
    = "#{f.object.user.email}"
  %td.user-authority.text-center
    = "#{f.object.authority.name}"
  %td.user-admin.text-center
    - if f.object.admin
      = icon('fas' ,'check')
    - else
      = ""
  - if mode == "edit" || mode == "new"
    %td.member-edit.text-center
      .member-edit-btn.btn.btn-outline-success{data: {"user-id": f.object.user_id}}
        = icon('fas' ,'user-edit')
    %td.member-delete.text-center
      .member-del-btn.btn.btn-outline-danger{data: {"user-id": f.object.user_id}}
        = icon('fas' ,'user-minus')
