#user-page
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .card.border-dark
      .card-header.bg-dark.text-white
        パスワードを再発行しますか？
      .card-body.bg-light
        .form-group
          = f.label "メールアドレス"
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      .card-footer.bg-light.border-light
        = f.submit "パスワードを再発行", class: "btn btn-primary"
      .card-footer.bg-dark
