#project-page
  - if project.errors.any?
    #error-card.card.border-danger
      .card-header.bg-danger.text-white
        エラー
      .card-body.border-danger
        .ul
        - project.errors.full_messages.each do |message|
          .li.text-danger= message

  .card.main-card.border-dark
    = form_for project, builder: ProjectsHelper::FormWithErrorMessageBuilder do |f|

      .card-header.border-dark.bg-dark.text-white
        .form-group
          = f.label 'プロジェクト名'
          - if mode == 'show'
            = f.text_field :name, class: 'form-control bg-white', readonly: "true"
          - else
            = f.text_field :name, class: 'form-control'

      .card-body
        -# プロジェクト参加メンバー表示部
        #project-member.card.sub-card.border-dark
          .card-header.border-dark.bg-dark.text-white
            = f.label '所属メンバー'
          .form-group.card-body.bg-light
            %table#member-table.table.table-sm.table-hover.table-bordered
              %thead.thead-light
                %tr
                  %th.text-center{scope: "col"} 名前
                  %th.text-center{scope: "col"} メールアドレス
                  %th.text-center{scope: "col"} 権限
                  %th.text-center{scope: "col"} プロジェクト管理者
                  - if mode == "edit" || mode == "new"
                    %th.text-center{scope: "col"} 編集
                    %th.text-center{scope: "col"} 削除
              %tbody#member-list-area
                = f.fields_for :project_members do |member|
                  = render partial: "projects/member/view", locals: {f: member, mode: mode}

            #member-params-area
              - if mode == "edit" || mode == "new"
                = f.fields_for :project_members do |member|
                  = render partial: "projects/member/params", locals: {f: member}

          .card-footer.border-light
            -# 表示のみの場合は以下不要
            - if mode == "edit" || mode == "new"
              %button.btn.btn-info{data: {target: "#member-add-modal", toggle: "modal"}, type: "button"}
                = icon('fas' ,'user-plus')
                = "メンバーを追加する"

              #member-modals
                = render partial: "projects/member/add_modal",
                          locals: {users: users, authorities: authorities}
                = render partial: "projects/member/edit_modal",
                          locals: {users: users, authorities: authorities}
                = render partial: "projects/member/delete_modal"

              #member-block-template
                = render partial: 'projects/member/template'

        -# 親プロジェクトカード
        - if mode == "new"
          #parent-project.card.sub-card.border-dark
            .card-header.border-dark.bg-dark.text-white
              = f.label '親プロジェクト （オプション）'
            .card-body.bg-light
              - if mode ==  "new"
                - candidate_parent_projects = current_user.projects
                = f.collection_select :parent_id, candidate_parent_projects, :id, :name,
                                      {prompt: ""},
                                      {class: "parent-project-selector select2"}

        -# サブプロジェクト カード
        - if mode == "edit"
          #children-projects.card.sub-card.border-dark
            .card-header.border-dark.bg-dark.text-white
              = f.label 'サブプロジェクト'
            .card-body.bg-light
              %label#sub-project-none-msg.d-none
                サブプロジェクトはありません。

              %table#children-project-table.table.table-sm.table-hover.table-bordered.d-none
                %thead.thead-light
                  %tr
                    %th.text-center{scope: "col"} プロジェクト名
                    %th.text-center{scope: "col"} 登録解除
                %tbody#children-project-view-area
                  = f.fields_for :children do |child|
                    = render partial: 'projects/sub_project/view',
                              locals: { f: child }

              #children-project-params-area
                = f.fields_for :children do |child|
                  = render partial: 'projects/sub_project/params',
                            locals: { f: child }

            .card-footer.border-light
              - if mode == "edit"
                %button.btn.btn-info{data: {target: "#child-project-add-modal", toggle: "modal"}, type: "button"}
                  = icon('fas' ,'plus-square')
                  = "サブプロジェクトを登録する"


                #child-project-modals
                  = render partial: 'projects/sub_project/add_modal',
                            locals: {current_project_id: f.object.id, projects: current_user.projects,
                                      founder_project_id: founder_project.id}
                  = render partial: 'projects/sub_project/cancel_modal',
                            locals: {current_project_id: f.object.id, projects: current_user.projects}

                #child-project-template
                  = render partial: 'projects/sub_project/template'

        -# 関連プロジェクト表示カード
        - if mode == 'show' || mode == 'edit'
          #relation-projects.card.sub-card.border-dark
            .card-header.border-dark.bg-dark.text-white
              = f.label '関連プロジェクト'
            .card-body.bg-light
              .form-group
                - if founder_project.id == params[:id].to_i
                  %a.current-project= founder_project.name
                - else
                  %a= founder_project.name
                = render partial:'projects/show_relation_projects',
                          locals:{ parent_project: founder_project }

        -# 備考欄 表示カード
        #project-remarks.card.sub-card.border-dark
          .card-header.border-dark.bg-dark.text-white
            = f.label '備考'
          .card-body.bg-light
            .form-group
              - if mode == 'show'
                = f.text_area :remarks, class: "form-control bg-white", rows: "5", readonly: "true"
              - else
                = f.text_area :remarks, class: "form-control", rows: "5"

        -# その他
        - if mode == 'edit'
          #other.card.sub-card.border-dark
            .card-header.border-dark.bg-dark.text-white
              %label その他
            .card-body.bg-light
              %button.btn.btn-danger{data: {target: "#project-del-modal", toggle: "modal"}, type: "button"}
                = "このプロジェクトを終了する"
            #other-modal
              = render partial: 'projects/project_delete_modal', locals: {project_name: f.object.name}

        - if mode == 'new'
          = f.submit '新規プロジェクト作成', class: 'btn btn-primary', id: 'meeting-submit-btn'
        - if mode == 'edit'
          = f.submit '更新', class: 'btn btn-primary', id: 'meeting-submit-btn'

  = link_to '戻る', my_page_path, class: "btn btn-secondary"

- if mode == "new"
  :javascript
    initializationParentProjectForm();

-# 初期化スクリプト郡
- if mode == "edit" || mode == "new"
  :javascript
    initializationMemberSelector();
    initializationSubProjectView();
    initializationChildProjectSelector();
