#user-page
  .login-card.card.border-dark
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .card-header.bg-dark.text-white
        ログイン
      .card-body.bg-light
        .form-group
          %label= 'ログインID または メールアドレス'
          = f.text_field :login, autofocus: true, class: "form-control"

        .form-group
          %label= 'パスワード'
          = f.password_field :password, autocomplete: "off", class: "form-control"
        - if devise_mapping.rememberable?
          .form-group
            = f.check_box :remember_me
            = f.label 'ログインを維持', class: "form-check-label"

      .card-footer.border-light
        .row
          .col-6
            = f.submit "ログイン", class: "btn btn-primary"
          .col-6
            = link_to "パスワードの再発行", new_user_password_path,
              class: "btn btn-danger"
      .card-footer.border-dark.bg-dark
  = link_to "戻る", :back, class: "btn btn-secondary"
