%h3 マイページ

%ul
  %li
    = link_to '会議 新規作成', new_meeting_path
  %li
    = link_to 'マイ会議', my_meeting_path
  %li
    = link_to 'ユーザ情報 確認／編集', edit_user_registration_path
  %li
    = link_to 'メール送信テスト', my_mail_path
  %li
    = link_to '受信メール確認', letter_opener_web_path
%br
%p 以下は追加予定のメニュー
%ul
  %li
    %p 代表／管理ユーザーメニュー
  %li
    %p グループ情報
%br
%p Find me in app/views/my/page.html.haml
