#my-page
  %h3 マイページ
  #meeting-menu.card
    .card-header
      会議関連
    .card-body
      %ul
        %li
          = link_to 'マイ会議', my_meeting_path
        %li
          = link_to '新しい会議を作成する', new_meeting_path, class: "btn btn-primary"

  #user-menu.card
    .card-header
      ユーザー関連
    .card-body
      %ul
        %li
          = link_to 'ユーザ情報 確認／編集', edit_user_registration_path

  #group-menu.card
    .card-header
      グループ関連
    .card-body
      - if current_user.groups.blank?
        %p 所属しているグループはありません。
      - else
        %label.control-label 所属グループ
        = render partial: 'my/groups', locals: { groups: current_user.groups}

      = link_to '新しいグループを作成する', new_group_path, class: "btn btn-primary"


  #debug-menu.card
    .card-header
      デバッグ関連
    .card-body
      %ul
        %li
          = link_to 'メール送信テスト', my_mail_path
        %li
          = link_to '受信メール確認', letter_opener_web_path
